@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/*
 !! MOBILE - 375px - I am changing it to 500.
 ?? There is not enough room for full menu
 ?? Changes to the font size of menu items and logo would be necessary. 
 !! DESKTOP - 1440px
*/

/** COLORS & FONTS **/
:root {
  font-size: 18px;

  --barlow: 'Barlow', sans-serif;
  --fraunces: 'Fraunces', serif;

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --cyan: #458c7e;
  --blue: hsl(198, 62%, 26%);
  --dark-blue: hsl(212, 27%, 19%);
  --grayish-blue: hsl(213, 9%, 39%);
  --gray: hsl(232, 10%, 55%);
  --light-gray:  hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

/*?? COLORS & FONTS - END */
/** GENERAL SETTINGS **/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fraunces);
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*?? GENERAL SETTINGS - END */
/** HEADER **/

header {
  background-image: url("images/mobile/image-header.jpg");
  height: 30rem;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1.7rem 1rem 1rem 1rem ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar--list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--white);
  color: var(--light-gray);
  font-family: var(--barlow);
  font-weight: 600;
  z-index: 1;
  position: absolute;
  width: 90%;
  top: 14%;
  left: 5%;
  height: 60%;
}

.navbar--list::before {
  content: '';
  position: absolute;
  border-bottom: 1.75rem solid var(--white);
  border-left: 1.5rem solid transparent;
  width: 0;
  height: 0;
  top: -1.75rem;
  right: 0;
}

.navbar-menu--icon {
  cursor: pointer;
}

.active {
  background-color: var(--yellow);
  border-radius: 5rem;
  color: black;
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: 700;
  padding: .75rem 1rem;;
}

.main-title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: .5rem;
  padding: 2rem .5rem;
}

.toggle-display {
  display: flex;
}

/*?? HEADER - END */
/*!! RESPONSIVE */

@media (width > 375px) {
  header {
    background-image: url("images/desktop/image-header.jpg");
  }
  .main-title {
    font-size: 2rem;
  }
}

@media (width > 582px) {
  header {
    padding-top: 0;
    padding-right: 2rem;
  }
  .navbar--list {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    color: var(--white);
    visibility: visible;
    padding-right: 0.5rem;
  }

  .active {
    background-color: var(--white);
  }

  .navbar--list::before,
  .navbar-menu--icon {
    display: none;
  }

  .main-title {
    font-size: 2.5rem;
  }
}